<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>
<body>

<div th:replace="/layout/navbar.html :: fragment-nav"></div>
<div class="container">
    <form>

        <div class="form-group">
            <label for="username">아이디</label>
            <input type="text" class="form-control" placeholder="Enter username" id="username">
        </div>
        <p id="valid_username"></p>

        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <p id="valid_email"></p>

        <div class="form-group">
            <label for="password">패스워드</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
        <p id="valid_password"></p>

    </form>
    <!-- 수정  -->
    <button id="btn-join" class="btn btn-primary">sign up</button>
</div>

<!-- user.js 호출 -->
<script src="/js/user.js"></script>
<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<footer th:replace="/layout/footer.html :: fragment-footer"></footer>


</body>
</html>